walltime="24:00:00"
modules="freebayes vcfanno vep"

commands {

    small {
    walltime="00:15:00"
    memory="4"
    }

    fastqc {
    walltime="01:30:00"
            memory="4"
    }

    merge {
    walltime="12:00:00"
    memory="12"
    }

    mergevcf {
    walltime="8:00:00"
    memory="8"
    }

    MarkDuplicates {
    walltime="36:00:00"
    memory="24"
    }

    bwa {
        walltime="24:00:00"
        procs=8
    }

    index_bam {
    memory="4"
    }

    recalibrate_bam {
    walltime="36:00:00"
    memory="12"
    }

    realign_target_creator {
    memory="8"
    walltime="24:00:00"
    }

    local_realign {
    memory="12"
    walltime="48:00:00"
    }

    callvariants {
    walltime="96:00:00"
    memory="48"
    }

    freebayes {
    walltime="96:00:00"
    memory="220"
    }
    
    joint_calling {
    memory="96"
    walltime="96:00:00"
    }

    vep {
        walltime="24:00:00"
        memory="48"
        procs=8
    }
}
